<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<!--
Copied and modified from ROS1 example:
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/diffbot_description/urdf/diffbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">

  <xacro:include filename="$(find ros2_control_demo_description)/urdf/diffbot/diffbot.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find ros2_control_demo_description)/urdf/diffbot/diffbot.gazebo.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ros2_control_demo_description)/urdf/diffbot/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find ros2_control_demo_description)/urdf/diffbot/diffbot_system.ros2_control.xacro" />

  <xacro:diffbot prefix="" />

  <xacro:diffbot_gazebo prefix="" />

  <xacro:diffbot_system name="DiffBotSystem" prefix="" />

</robot>
