<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="6Dbot">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <xacro:include filename="$(find ros2_control_demo_robot)/description/6Dbot/6Dbot_macro.xacro"/>
  <xacro:include filename="$(find ros2_control_demo_robot)/description/6Dbot/6Dbot_macro.ros2_control.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:SixDbot prefix="" parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:SixDbot>

  <xacro:SixDbot_ros2_control
    name="6Dbot"
    prefix=""
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)" />

</robot>
