<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="r6bot">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find ros2_control_demo_description)/r6bot/urdf/r6bot_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:r6bot_description/>

  <!-- Import r6bot ros2_control description -->
  <xacro:include filename="$(find ros2_control_demo_example_7)/ros2_control/r6bot.ros2_control.xacro" />
  <xacro:r6bot_ros2_control name="r6bot"/>

</robot>
