<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="create_link" params="
        link_name
        xyz_offset
        rpy_offset
        mesh_package
        mesh_name">
    <link name="${link_name}">
      <visual>
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry>
          <mesh filename="package://${mesh_package}/meshes/visual/${mesh_name}.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry>
          <mesh filename="package://${mesh_package}/meshes/collision/${mesh_name}.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
