<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rrbot_modular_actuators_without_feedback_sensors_for_position_feedback"
    params="name prefix use_sim:=^|false slowdown:=2.0">

    <!-- NOTE generally is the order of hardware definition not relevant. But in this case the
    sensors are listening on socket to which the actuators are connecting. Therefore, the sensors
    has to be initialized and started first. -->

    <ros2_control name="RRBotModularPositionSensorJoint1" type="sensor">
      <hardware>
        <plugin>ros2_control_demo_example_14/RRBotSensorPositionFeedback</plugin>
        <param name="example_param_hw_start_duration_sec">1.0</param>
        <param name="example_param_hw_stop_duration_sec">2.0</param>
        <param name="example_param_hw_slowdown">${slowdown}</param>
        <param name="example_param_socket_port">23286</param>
      </hardware>
      <joint name="joint1">
        <state_interface name="position"/>
      </joint>
    </ros2_control>
    <ros2_control name="RRBotModularPositionSensorJoint2" type="sensor">
      <hardware>
        <plugin>ros2_control_demo_example_14/RRBotSensorPositionFeedback</plugin>
        <param name="example_param_hw_start_duration_sec">1.0</param>
        <param name="example_param_hw_stop_duration_sec">2.0</param>
        <param name="example_param_hw_slowdown">${slowdown}</param>
        <param name="example_param_socket_port">23287</param>
      </hardware>
      <joint name="joint2">
        <state_interface name="position"/>
      </joint>
      </ros2_control>

    <ros2_control name="RRBotModularJoint1" type="actuator">
      <hardware>
        <plugin>ros2_control_demo_example_14/RRBotActuatorWithoutFeedback</plugin>
        <param name="example_param_hw_start_duration_sec">2.0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_socket_port">23286</param>
      </hardware>
      <joint name="joint1">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
      </joint>
    </ros2_control>
    <ros2_control name="RRBotModularJoint2" type="actuator">
      <hardware>
        <plugin>ros2_control_demo_example_14/RRBotActuatorWithoutFeedback</plugin>
        <param name="example_param_hw_start_duration_sec">2.0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_socket_port">23287</param>
      </hardware>
      <joint name="joint2">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
      </joint>
      </ros2_control>

  </xacro:macro>

</robot>
