<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rrbot_ros2_control"
               params="name
                       prefix
                       is_async:=false
                       rw_rate:=250
                       scheduling_policy:='synchronized'
                       cpu_affinity:='[2,3]'
                       thread_priority:=30">

    <ros2_control name="${name}" type="system" is_async="${is_async}" rw_rate="${rw_rate}">
      <properties>
        <async scheduling_policy="${scheduling_policy}" affinity="${cpu_affinity}" thread_priority="${thread_priority}" print_warnings="true"/>
      </properties>
      <hardware>
        <plugin>ros2_control_demo_example_1/RRBotSystemPositionOnlyHardware</plugin>
        <param name="example_param_hw_start_duration_sec">0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_hw_slowdown">100</param>
      </hardware>

      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
