<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example:
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/diffbot_description/urdf/diffbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="diffbot_gazebo" params="prefix">

    <!-- Link1 -->
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${prefix}link1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${prefix}link2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- camera_link -->
    <gazebo reference="${prefix}camera_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Red</material>
    </gazebo>

    <!-- camera -->
    <gazebo reference="${prefix}camera_link">
      <sensor type="camera" name="camera1">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
            That pixel's noise value is added to each of its color
            channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>diffbot/camera1</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>camera_link_optical</frameName>
          <!-- setting hackBaseline to anything but 0.0 will cause a misalignment
          between the gazebo sensor image and the frame it is supposed to
          be attached to -->
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0.0</Cx>
          <Cy>0.0</Cy>
          <focalLength>0.0</focalLength>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
