<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find rrbot_description)/urdf/rrbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find rrbot_description)/gazebo/rrbot.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find rrbot_description)/ros2_control/rrbot.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:rrbot parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:rrbot>

  <xacro:rrbot_ros2_control
    name="RRBot" prefix="$(arg prefix)" />

</robot>
