name: Build Iron Dockerfile
# description: builds the dockerfile contained within the repo

on:
  pull_request:
    branches:
      - iron
  push:
    branches:
      - iron
  schedule:
    # Run every morning to detect broken dependencies
    - cron: '50 1 * * *'


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: iron
    - name: Build the Docker image
      run: docker build --file Dockerfile/Dockerfile --tag ros2_control_demos_iron --build-arg ROS_DISTRO=iron .
