name: Jazzy Semi-Binary Build
# description: 'Build & test that compiles the main dependencies from source.'

on:
  pull_request: &event
    branches:
      - jazzy
    paths:
      - '**.hpp'
      - '**.cpp'
      - '.github/workflows/jazzy-semi-binary-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - '**.xacro'
      - '**.py'
      - '**.yaml'
      - 'ros2_control_demos.jazzy.repos'
      - '**.xml'
  push: *event
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '33 1 * * MON-FRI'

jobs:
  semi_binary:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-industrial-ci-with-cache.yml@master
    with:
      ros_distro: jazzy
      ros_repo: testing
      upstream_workspace: ros2_control_demos.jazzy.repos
      ref_for_scheduled_build: jazzy
