name: Build Rolling Dockerfile
# description: builds the dockerfile contained within the repo

on:
  pull_request: &event
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.cpp'
      - Dockerfile/**
      - '.github/workflows/rolling-docker-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - '**.xacro'
      - '**.py'
      - '**.yaml'
      - 'ros2_control_demos.rolling.repos'
      - 'ros2_control_demos.kilted.repos'
      - '**.xml'
  push: *event
  schedule:
    # Run every morning to detect broken dependencies
    - cron: '50 1 * * MON-FRI'


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [rolling, kilted]
    steps:
    - uses: actions/checkout@v6
      with:
        ref: master
    - name: Build the Docker image
      run: docker build --file Dockerfile/Dockerfile --tag ros2_control_demos_${{ matrix.ROS_DISTRO }} --build-arg ROS_DISTRO=${{ matrix.ROS_DISTRO }} .
