name: Pre-Commit - Rolling

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-pre-commit.yml@master
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [rolling, kilted, jazzy]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
